/* titles */

#subitem_title {
    font-weight: bold;
    padding: 3px;
}

#tooltip {
    position: absolute;
    border: 1px solid #333;
    background: #f7f5d1;
    padding: 2px 5px;
    color: #333;
    display: none;
}

/* data */

#datalist {
    width: 100%;
    margin-top: 5px;
    position: relative;
}

#datalist h2 {
    margin: 15px 0 0 0;
    padding: 7px 7px 7px 20px;
    font-weight: normal;
    font-size: 1.2em;
    background: #F5F5F5 url(../images/bullet.gif) no-repeat 5px 14px;
    border: 0px;
    border-top: 1px solid #C0C0C0;
    height: 22px;
}

#datalist th {
    color: #000;
    padding: 7px 3px;
    font-size: 1.0em;
    font-weight: normal;
    background-image: url(../images/th_bg_b.gif);
    border-bottom: 1px solid #C0C0C0;
}

#datalist td {
    border-bottom: 1px solid #D5DEFF;
    padding: 5px 3px;
}

#datalist tr.alt {
    background: #e1f0ff;
}

#datalist tr.alt2 {
    background: #ABCFF9;
}

#datalist td#center {
    text-align: center;
}

.datagrid {
}

.datagrid th {
    height: 25px;
    font-size: 1.1em;
    border-bottom: 1px solid #EDF4FC;
    padding: 3px 3px 0 5px;
}

.datagrid td {
    padding: 3px 0;
    border-bottom: 1px solid #EDF4FC;
}

#formgrid {
    margin-top: 10px;
    border-top: 1px solid #fff;
    padding: 10px 0;
}

#formgrid legend {
    padding: 0 2px;
    margin-left: 10px;
    font-size: 14px;
    font-weight: bold;
}

#formgrid li {
    border-top: 1px solid #F0F0F0;
    padding: 5px 10px;
    font-size: 1.2em;
    width: 100%;
    line-height: 1.8;
    list-style: none;
}

#formgrid li.first {
    border-top: 0px;
}

#formgrid label {
    width: 170px;
    display: inline-block;
    float: left;
}

#formgrid div {
    float: left;
}

#formgrid div label {
    float: none;
    display: inherit;
}

#formgrid span {
    display: block;
}

#formgrid input[type=radio], #formgrid input[type=checkbox] {
    vertical-align: middle;
    margin: 0 0 0 10px;
}

#formgrid input[type=text], #formgrid input[type=file] {
    border: 1px solid #ccc;
    padding: 5px;
    color: #666;
}

#formgrid input[type=text].error {
    background-color: #FFDDDD;
}

#formgrid input[type=submit], .submit {
    background: #D6E0EA;
    border: 1px solid #033246;
    color: #033246;
    padding: 3px;
    cursor: pointer;
    margin: 3px;
}

/* tables */

#table {
    width: 700px;
    border-top: 4px solid #e3e7e7;
}

#table p {
    clear: both;
    width: 100%;
    margin: 0;
}

#table span {
    float: left;
    padding: 5px 10px;
    border-left: 1px solid #e3e7e7;
    border-bottom: 1px solid #e3e7e7;
}

#table span.caption {
    width: 150px;
}

#table span.display {
    width: 450px;
    border-right: 1px solid #e3e7e7;
}

/* form elements */

/*input, textarea, select {
    padding:3px;
    border:1px solid #969696;
} */

/* input */
form.cmxform fieldset {
    margin-bottom: 10px;
    border: 0;
}

input[type=submit], form.cmxform input, form.cmxform select, form.cmxform textarea {
    padding: 3px;
    border: 1px solid #969696;
    margin-top: 5px;
}

input[type=checkbox] {
    border: 0px;
}

form.cmxform legend {
    padding: 0 2px;
    font-weight: bold;
    _margin: 0 -7px; /* IE Win */
}

form.cmxform label {
    display: inline-block;
    line-height: 280%;
    font-weight: bold;
    width: 180px;
    vertical-align: top;
    color: #000000;
    margin-right: 5px;
}

form.cmxform ol.alt li label {
    width: 120px;
}

form.cmxform fieldset ol {
    margin: 0;
    padding: 0;
}

form.cmxform fieldset li {
    list-style: none;
    padding-left: 5px;
    margin: 0;
    border-bottom: 1px solid #F5F5F5;
    line-height: 280%;
    font-size: 1.0em;

}

form.cmxform fieldset li.odd {
    background-color: #F9F9F9;
}

form.cmxform fieldset li.odd label {
    background-color: #F5F5F5;
}

form.cmxform fieldset li.hidden {
    background-color: #FFDFDF;
}

form.cmxform fieldset li span {
    font-size: 0.9em;
}

form.cmxform fieldset input[type=text] {
    width: 250px;
}

form.cmxform fieldset fieldset {
    border: none;
    margin: 3px 0 0;
}

form.cmxform fieldset fieldset legend {
    padding: 0 0 5px;
    font-weight: normal;
}

form.cmxform fieldset fieldset label {
    display: block;
    width: auto;
}

form.cmxform em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
}

form.cmxform fieldset fieldset label {
    margin-left: 123px;
}

/* Width plus 3 (html space) */

/* Section Tabs */

#tabnavmenu {
    padding: 10px 5px;
    background-color: #F0F0F0;
}

#tabnavmenu ul li {
    display: inline;
    padding: 0 0 0 13px;
}

.subformx {
    background-color: #F0F0F0;
    padding: 3px 25px;
}

.subformx form {
    border: 1px dashed #808080;
    padding: 11px;
    background-color: #E0E0E0;
}

.subformx span {
    font-size: 1.1em;
    text-decoration: underline;
    padding-right: 25px;
    color: #000;
}

.subformx #title {
    font-size: 1.1em;
    text-decoration: underline;
    padding-right: 25px;
    color: #000;
    float: left;
    width: 100px;
}

#tabnav {
    height: 34px;
    margin: 0px;
    padding: 0 0 0 10px;
    border-bottom: 1px solid #D0D0D0;
    font-family: segoe ui;
    font-size: 1.2em;
    background-color: #F0F0F0;
}

#tabnav ul {
    padding-top: 10px;
}

#tabnav li {
    margin: 0;
    padding: 0;
    display: inline;
    list-style-type: none;
}

#tabnav a:link, #tabnav a:visited {
    float: left;
    background: #D0D0D0;
    line-height: 14px;
    padding: 4px 10px 4px 10px;
    margin-right: 4px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #585858;
}

#tabnav a:link.active, #tabnav a:visited.active {
    margin-top: 1px;
    border-bottom: 1px solid #fff;
    background: #fff;
    color: #000;
}

#tabnav a:hover {
    background: #808080;
    color: #fff;
    border: 1px solid #808080;
}

#tabcontent {

    padding: 20px 0;
    margin: 0px;
    min-height: 300px;
}

body, div, dl, dt, dd, ul, ol, li, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
}

fieldset, img {
    border: 0;
}

address, caption, cite, code, dfn, th, var {
    font-style: normal;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

caption, th {
    text-align: left;
}

q:before, q:after {
    content: '';
}

abbr, acronym {
    border: 0;
}

:focus {
    outline: 0;
}

.w_150 {
    width: 150px;
}

.w_200 {
    width: 200px;
}

.w_250 {
    width: 250px;
}

.w_300 {
    width: 300px;
}

.w_350 {
    width: 350px;
}

.w_450 {
    width: 450px;
}

ul {
    list-style: none;
}

fieldset {
    border: 0;
}

a img {
    border: 0;
    vertical-align: middle;
}

input[type=image] {
    border: 0;
    vertical-align: middle;
}

.clear {
    clear: both;
}

input, select, textarea, .button {
    font: 1.0em Segoe ui;
    border: 1px solid #969696;
    padding: 3px;
}

#right {
    text-align: right;
}

#center {
    text-align: center;
}

#middle {
    vertical-align: middle;
    margin-bottom: 3px;
}

.bold {
    font-weight: bold;
}

.green {
    color: #00D500;
}

.red {
    color: #FF0000;
}

.order_overview {
    background: #fefefe url(layout/white_message.gif) repeat-x;
    border: 5px solid #E0E0E0;
    margin-bottom: 5px;

}

.order_overview div {
    background: url(layout/packages.png) no-repeat left 5px;
    height: 40px;
    padding: 10px 0 0 10px;
    font-size: 1.4em;
}

.order_overview div span {
    color: #C0C0C0;
}

.iframes {
    margin: 0 auto;
    width: 952px;
}

.iframe_wrapper {
    width: 100%;
}

.iframe_sidebar {
    float: left;
    width: 165px;
    margin: 0 5px;
}

.iframe_content {
    width: 895px;
    float: left;
    min-height: 500px;
    margin: 0px 5px 0 0;
    background-color: #fff;
    border: 1px solid #C0C0C0;
}

.rightblock {
    float: left;
}

.content_noheader {
    padding: 0px;
    margin: 0px;
    background-color: white;
}

.msg_ok {
    background: #d8ffcc;
    border: 1px solid #7bbf66;
    color: #4e903a;
    padding: 10px;
    margin: 15px;
    line-height: 170%;
}

.msg_warn {
    background: #ffe8d0;
    border: 1px solid #b79168;
    color: #764919;
    padding: 10px;
    margin: 15px;
    line-height: 170%;
}

.msg_error {
    background: #fccccc;
    border: 1px solid #a06666;
    color: #6f1414;
    padding: 10px;
    margin: 15px;
    line-height: 170%;
}

/* content */

#inner_content {
    background-color: white;
    margin: 0px;
    padding: 0 0 50px 0;
}

#inner_content.pad {
    padding: 10px 15px 50px 15px;
}

#inner_content h22 {
    color: #000;
    font-size: 1.1em;
    font-weight: normal;
    padding: 5px 7px;
    margin: 20px 0 3px 0;
    background-color: #D6EABF;
    border-bottom: 1px solid #A9D37A;
}

#inner_content h2 {
    border-bottom: 1px solid #e8edef;
    padding-bottom: 5px;
    margin-bottom: 7px;
    font-size: 1.4em;
    padding-left: 3px;
}

#infobox {
    background-color: #F0F0F0;
    padding: 10px;
    font-size: 1.5em;
}

#selectbox {
    padding: 5px;
    text-align: right;
}

#selectbox label {
    font-size: 1.2em;
}

#filterbox {
    padding: 3px 5px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

















